<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../static/styles.css" type="text/css">
        <meta charset="UTF-8">
        <meta name="Description" content="Mastermind Puzzle Game Web Interface">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Flask Mastermind</title>
    </head>
    <body>
        <div class="sequence">
            <ul class="sequence-list">
                <li><div class="circle">
                    <p>Testing</p>
                </div></li>
                <li><div class="circle">
                    Whoops
                </div></li>
                <li><div class="circle">
                    Third
                </div></li>
                <li><div class="circle">
                    Fourth
                </div></li>
            </ul>
        </div>
    </body>
</html>